
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<div id="form_div">
    <form class="form" method="POST" action="/postroute">
        please enter the google book you'd like to search <input class="input" type="text" name="the_book" placeholder="your book's title"></input>
        <input class="submit" type="submit"></input>
    </form>
</div>


</body>
<html>